@import "abstracts/_variables.scss";

@import "base/_reset.scss";
@import "base/_typography.scss";

@import "components/_buttons.scss";

@import "layout/_home-logo.scss";
@import "layout/_header.scss";

@import "pages/_aboutme.scss";




header {
  display: none;
}

body {
  background-color: $background;
}

.wip {
  margin-top: 150px;
}
