@import "abstracts/variables.scss";

@import "base/reset.scss";
@import "base/typography.scss";

@import "components/buttons.scss";

@import "layout/home-logo.scss";
@import "layout/header.scss";

@import "pages/aboutme.scss";
@import "pages/contacts.scss";




header {
  display: none;
}

body {
  background-color: $background;
}

.wip {
  margin-top: 150px;
}
