footer {
  margin: auto;
  padding-bottom: 50px;
  width: 80%;

  .contacts__box {
    padding: 50px;
    border: 1px $primary solid;

    span {
      display: block;
      padding: 10px 0;
      i {
        color: $primary;
      }
      a {
        color: $background300;
        text-shadow: 0.4px 0.4px $primary;
      }
    }
  }

  @media only screen and (min-width: 1001px) {
    display: none;
  }
}
