.form {
  text-align: center;
  span {
    color: $primary;
    text-shadow: 0 1px rgba(255, 255, 255, 0.2);
    font-size: 20px;
    display: block;
    margin: 20px 0 5px;
  }
  input,
  textarea {
    width: 50%;
    margin: 5px;
    background-color: $background300;
    border: none;
    border-radius: 20px;
    padding-left: 10px;
  }
  &__obj {
    height: 50px;
  }
  &__text {
    height: 250px;
    resize: none;
    padding: 10px;
  }
  &__button {
  height: 80px;
}
}

