footer {
  position: relative;
  padding-bottom: 50px;

  .contacts__box {
    background-color: $background300;
    width: 80%;
    margin: auto;
    padding: 50px;
    border: 1px $primary solid;
    position: absolute;
    bottom: -210%;
    left: 50%;
    transform: translate(-50%, -50%);
    span {
      display: block;
      padding: 10px 0;
      a {
        color: black;
        text-shadow: 0.4px 0.4px black;
        position: relative;
        &::after {
          content: "";
          background: rgba($primary, 0.5);
          position: absolute;
          left: 12px;
          bottom: -6px;
          width: calc(100% - 8px);
          height: calc(100% - 8px);
          z-index: -1;
          transition: 0.35s cubic-bezier(0.25, 0.1, 0, 2.05);
        }
        &:hover:after {
          left: 0;
          bottom: -2px;
          width: 100%;
          height: 100%;
        }
      }
    }
    i {
      color: $primary;
      text-shadow: 0.3px 0.3px black;
    }
  }

  @media only screen and (min-width: 1001px) {
    display: none;
  }
}
