header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid $primary;
  margin-top: 30px;
  padding: 0 80px;

  span {
    display: flex;
    margin: 0 20px;
    color: $secondary;
    font-family: 'Major Mono Display', monospace;
    font-size: 20px;
  }

  ul {
    display: flex;
    list-style-type: none;

    li {
      font-size: 20px;
      vertical-align: middle;
      padding: 0 20px 5px 0;

      a {
        background: linear-gradient(to right, $primary, $primary 50%, $secondary 50%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: 200% 100%;
        background-position: 100%;
        transition: background-position 0.3s ease;
      }

      a:hover {
        background-position: 0 100%;
      }

      i {
        font-size: 14px;
        vertical-align: middle;
        color: $primary;
      }
    }
  }
}
