header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid $primary;
  height: 60px;
  padding: 0 80px;
  position: fixed;
  width: 100%;
  background-color: $background300;
  align-items: center;
  animation: dropdown 1s ease;
  z-index: 3;

  span {
    display: flex;
    margin: 0 20px;
    color: $secondary;
    font-family: "Major Mono Display", monospace;
    font-size: 20px;
  }

  ul {
    display: flex;
    list-style-type: none;

    li {
      font-size: 20px;
      vertical-align: middle;
      padding: 0 20px 5px 0;

      a {
        position: relative;
        display: block;
        cursor: pointer;
        color: $secondary;
      }

      a:hover {
        background-position: 0 100%;
      }

      a:after,
      a:before {
        content: "";
        position: absolute;
        width: 0;
        height: 2px;
        top: 50%;
        margin-top: -0.5px;
        background: $primary;
      }

      a:before {
        left: -2.5px;
      }

      a:after {
        right: 2.5px;
        background: $primary;
        transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
      }

      a:hover:before {
        background: $primary;
        width: 100%;
        transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
      }

      a:hover:after {
        background: transparent;
        width: 100%;
        transition: 0s;
      }

      i {
        font-size: 14px;
        vertical-align: middle;
        color: $primary;
      }
    }
  }
}
@keyframes dropdown {
  0% {
    transform: translateY(-60px);
  }

  100% {
    transform: translateY(0px);
  }
}

@media (max-width: 768px) {
  header {
    padding: 20px;
    ul {
      display: none;
    }
  }
}

@media (min-width: 1001px) {
  header li:last-child a {
    display: none;
  }
}
