* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  width: 60%;
  margin: auto;
  color: $secondary;
  flex-direction: column;
}

header {
  display: none;
}

body {
  background-color: $background;
}

@media only screen and (max-width: 1000px) {
  .container {
    width: 80%;
  }
  .aboutme__icons::after {
    content: "";
    flex: auto;
  }
}
