.aboutme__title {
  padding: 200px 400px 80px 0;

  h1 {
    color: $primary;
    display: block;
    margin-bottom: 10px;
    font-size: 40px;
  }

  h2 {
    font-size: 40px;
    font-weight: 400;
  }

  span {
    display: inline-block;
    animation-duration: 0.5s;
    animation-fill-mode: both;
  }

  span:hover {
    animation-name: rubberBand;
  }
}

.aboutme__txt {
  a {
    color: $primary;
  }
}
@keyframes rubberBand {
  from {
    transform: scale3d(1, 1, 1);
  }

  25% {
    transform: scale3d(1.35, 0.75, 1);
  }

  40% {
    transform: scale3d(0.75, 1.35, 1);
  }

  50% {
    transform: scale3d(1.25, 0.85, 1);
    color: #5601cd;
  }

  65% {
    transform: scale3d(.95, 1.15, 1);
  }

  75% {
    transform: scale3d(1.15, .95, 1);
  }

  to {
    transform: scale3d(1, 1, 1);
    color: $secondary;
  }
}

.aboutme__icons {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  i {
    font-size: 35px;
  }
}
