.aboutme {
  &__title {
    margin: 150px 0 50px;
    width: 60%;

    &--special {
      display: inline;
      white-space: nowrap;
    }

    h1 {
      color: $primary;
      display: block;
      margin-bottom: 10px;
      font-size: 40px;
    }

    h2 {
      font-size: 40px;
      font-weight: 400;
    }

    span {
      display: inline-block;
      animation-duration: 0.5s;
      animation-fill-mode: both;
    }

    span:hover {
      animation-name: rubberBand;
    }
  }

  &__txt {
    a {
      color: #28a745;
    }
    margin-bottom: 0px;
  }
  @keyframes rubberBand {
    from {
      transform: scale3d(1, 1, 1);
    }

    25% {
      transform: scale3d(1.35, 0.75, 1);
    }

    40% {
      transform: scale3d(0.75, 1.35, 1);
    }

    50% {
      transform: scale3d(1.25, 0.85, 1);
      color: #5601cd;
    }

    65% {
      transform: scale3d(0.95, 1.15, 1);
    }

    75% {
      transform: scale3d(1.15, 0.95, 1);
    }

    to {
      transform: scale3d(1, 1, 1);
      color: $secondary;
    }
  }

  &__icons {
    width: 90%;
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: auto;

    i {
      font-size: 35px;
      opacity: 0.3;
      margin: 5px 10px;
    }

    i:hover {
      opacity: 1;
      cursor: pointer;
      color: $primary;
      transform: scale(1.2);
    }
  }
}