.projects {
  font-size: 0;
  text-align: center;
  padding: 50px 0;

  &__box {
    display: inline-block;
    position: relative;
    opacity: 0.5;
    overflow: hidden;
    margin: 3px;
    @media (max-width: 768px) {
      margin: 8px;
    }

    img {
      width: 280px;
      height: 280px;
      transition: transform 0.2s;
    }
  }
  &__box:hover {
    opacity: 1;
    img {
      transform: scale(1.2);
    }
    .hex {
      visibility: visible;
      transition: all 0.3s linear;
      transform: scale(1);
      opacity: 0.9;
    }
  }

  .hex {
    font-size: 20px;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    margin: -62px 0 0 -52px;
    visibility: hidden;
    transition: all 0.1s linear;
    transform: scale(0.1);
    user-select: none;
    opacity: 0.1;
    i {
      margin-top: 5px;
    }
    .hex1 {
      width: 0;
      border-bottom: 30px solid $primary;
      border-left: 52px solid transparent;
      border-right: 52px solid transparent;
    }
    .hex2 {
      width: 104px;
      height: 60px;
      background-color: $primary;
    }
    .hex3 {
      width: 0;
      border-top: 30px solid $primary;
      border-left: 52px solid transparent;
      border-right: 52px solid transparent;
    }
  }
}
